<table>
  <thead>
    <tr>
      <th>PRODUCT NAME</th>
      <th>LOCATION</th>
      <th>CREATED BY</th>
      <th>COMMENT</th>
      <th>TRACKING</th>
    </tr>
  </thead>

  <tbody>
    {{#each products as |product|}}
    <tr>
      <td>
        <a href='/product/{{product.id}}'>{{product.name}}</a>
      </td>
      <td>{{product.location}}</td>
      <td>{{user.name}}</td>
      <td>{{product.comment}}</td>

      <td>
        <div id="time-controls-{{product.id}}">
          <button class="start" data-product-id="{{product.id}}">Start</button>
          <button class="stop" data-product-id="{{product.id}}">Stop</button>
          <div class="duration" data-product-id="{{product.id}}"></div>
        </div>
   
        <div class="start-time" id="start-time-{{product.id}}">
          {{#if product.startTime}}
          Start Time: {{product.startTime}}
          {{/if}}
        </div>
        <div class="stop-time" id="stop-time-{{product.id}}">
          {{#if product.stopTime}}
          Stop Time: {{product.stopTime}}
          {{/if}}
        </div>
        <div class="duration-length"id="duration-{{product.id}}"></div>
      </td>

    </tr>
    {{/each}}
  </tbody>
</table>

<button class="print-button" onclick="window.print()">Print</button>