<h1>{{user.name}}</h1>

<p>
  {{#if isManager}}
          <a href='/register'>Create Employee</a>
  <a href='/createproduct'>Create a Product</a>
  {{/if}}
</p>

<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
   
    <th>Created By</th>
    <th>Comment</th>
  </tr>
  {{#each products as |product|}}
    <tr>
      <td>
        <a href='/product/{{product.id}}'>{{product.name}}</a>
      </td>
      <td>{{product.location}}</td>

      <td>{{product.user.name}}</td>
      <td>
        {{product.comment}}
      </td>
      

    </tr>
    {{!-- <p>
    <a class="btn btn-primary" href="/edit/{{product.id}}">Edit!</a>
  </p> --}}
  {{/each}}
</table>

