<h1>{{user.name}}</h1>
{{#if isManager}}
  <a href='/register'>Create Employee</a>
  <a href='/profile'>Create/Delete A Product</a>
{{/if}}
<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Technician</th>
    <th>Created By</th>
    <th>Comment</th>
  </tr>
  {{#each products as |product|}}
    <tr>
      <td>
      <a href='/product/{{product.id}}'>{{product.name}}</a>
      </td>
      <td>{{product.location}}</td>
      <td>{{product.technician}}</td>
      <td>{{product.user.name}}</td>
      <td>{{#each product.comments as |comment|}}
          <p>{{comment.text}}</p>
        {{/each}}</td>
    </tr>
{{/each}}
</table>