{{!--<h1>{{user.name}}</h1>--}}

{{!-- <p>
  {{#if isManager}}
  <a href='/register'>Create Employee</a>
  <a href='/createproduct'>Product Managment</a>
  {{/if}}
</p> --}}


{{!--{{#if isManager}}
<a href='/register'>Create Employee</a>
<a href='/createproduct'>Create A Product</a>
<a href='/data'>Dashboard</a>

{{/if}}--}}


<table>
  <thead>
    <tr>
      <th>PRODUCT NAME</th>
      <th>LOCATION</th>
      <th>CREATED BY</th>
      <th>COMMENT</th>
      <th>TRACKING</th>
    </tr>
  </thead>

  <tbody>
    {{#each products as |product|}}
    <tr>
      <td>
        <a href='/product/{{product.id}}'>{{product.name}}</a>
      </td>
      <td>{{product.location}}</td>
      <td>{{user.name}}</td>
      <td>{{product.comment}}</td>


      {{!--
    <tr>

      <th>Name</th>
      <th>Location</th>
      <th>Technician</th>
      <th>Comment</th>
      <th>Tracking</th>
    </tr> --}}

    {{!-- {{#each products as |product|}}

    <td>
      <a href='/product/{{product.id}}'>{{product.name}}</a>
    </td>
    <td>{{product.location}}</td>
    <td>{{product.user.name}}</td>
    <td>
      {{#each product.comments as |comment|}}
      <p>{{comment.text}}</p>
      {{/each}}
    </td> --}}

    {{!-- Date and Time functionality --}}

    <td>
      <div id="time-controls-{{product.id}}">

        <button class="start" data-product-id="{{product.id}}">Start</button>
        <button class="stop" data-product-id="{{product.id}}">Stop</button>
        <div class="duration" data-product-id="{{product.id}}"></div>
      </div>
      <!-- Placeholders for date and start time -->
      <div class="start-time" id="start-time-{{product.id}}">
        {{#if product.startTime}}
        Start Time: {{product.startTime}}
        {{/if}}
      </div>
      <div class="stop-time" id="stop-time-{{product.id}}">
        {{#if product.stopTime}}
        Stop Time: {{product.stopTime}}
        {{/if}}
      </div>
      <div class="duration-length" id="duration-{{product.id}}">
        {{#if product.duration}}
        Duration: {{product.duration}}
        {{/if}}
    </td>

    </tr>
    {{/each}}
  </tbody>
</table>

<button class="print-button" onclick="window.print()">Print</button>