<h1>{{user.name}}</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Technician</th>
    <th>Created By</th>
    <th>Comment</th>
  </tr>
  {{#each products as |product|}}
    <tr>
      <td>
        <a href='/product/{{product.id}}'>{{product.name}}</a>
      </td>
      <td>{{product.location}}</td>
      <td>{{product.technician}}</td>
      <td>{{product.user.name}}</td>
      <td>{{product.comment}}</td>
    </tr>
  {{/each}}
</table>