<h1>{{user.name}}</h1>

<p>
  {{#if isManager}}
  <a href='/register'>Create Employee</a>
  <a href='/createproduct'>Product Managment</a>
  {{/if}}
</p>

<style>
  .print-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
</style>

<table>
  <thead>
    <tr>
      <th>PRODUCT NAME</th>
      <th>LOCATION</th>
      <th>CURRENT TECHNICIAN</th>
      <th>COMMENT</th>
    </tr>
  </thead>
  <tbody>
    {{#each products as |product|}}
    <tr>
      <td>
        <a href='/product/{{product.id}}'>{{product.name}}</a>
      </td>
      <td>{{product.location}}</td>
      <td>{{user.name}}</td>
      <td>{{product.comment}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

<button class="print-button" onclick="window.print()">Print</button>
