<div>
  <h2>{{productDataPlain.name}}</h2>
  <p>{{productDataPlain.text}}</p>
  <p>Created by {{productDataPlain.user.name}}</p>
  
  <div>
    <h4>Edit your product:</h4>
    <label>Name</label>
    {{#if isManager}}
    <input id="productName" class="form-input" placeholder="{{productDataPlain.name}}"></input>
    {{/if}}
    {{#unless isManager}}
    <h3><p id="productName">{{productDataPlain.name}}</p></h3>
    {{/unless}}<br>
    <label>Created By</label></div><br>
    <input id="technician" type="text" class="form-input" userId="{{userId}}" placeholder="{{productDataPlain.user.name}}" name="technician"><br>
    <label>Location</label><br>
    <input id="productLocation" class="form-input" placeholder="{{productDataPlain.location}}"></input> <br>
    <label>Comments</label><br>
    <textarea id="productComment" class="form-input" placeholder="{{productDataPlain.comment}}"></textarea> <br>
    <button type="submit" id="btn" productId={{productDataPlain.id}} class="btn btn-primary">Submit</button>
  </div>
</div>

<script>
document.getElementById('btn').addEventListener('click', async function(){
  const productId = document.getElementById('btn').getAttribute('productId')
  const technician = document.getElementById('technician').value
  const productText = document.getElementById('productName').value;
  const productLocation = document.getElementById('productLocation').value;
  const productComment = document.getElementById('productComment').value;
  const userId = document.getElementById('technician').getAttribute('userId')
  
  const res = await fetch(`/api/products/${productId}`, {
    method: 'PUT',
    body: JSON.stringify({ name: productText, user_id: userId, location: productLocation, comment: productComment}), 
    headers: { 'Content-Type': 'application/json' },
  })

  if (res.ok){
    document.location.replace('/data');
  }
})
</script>
