<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
</style>

<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Comment</th>
    <th>CURRENT TECHNICIAN</th>
  </tr>
  <tr>
    <td>{{name}}</td>
    <td>{{location}}</td>
    <td>{{comment}}</td>
    <td>{{user.name}}</td>
  </tr>
</table>

<p>
  <a class="btn btn-primary" href="/edit/{{id}}">Edit!</a>
</p>
