<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Comment</th>
    <th>CURRENT TECHNICIAN</th>
  </tr>
  <tr>
    <td>{{name}}</td>
    <td>{{location}}</td>
    <td>{{comment}}</td>
    <td>{{user.name}}</td>
  </tr>
</table>

<p>
    <a id='logout' href='/edit/{{id}}'><button>EDIT</button></a>
</p>